<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.a-p.app"
        versionCode = "10"
        version     = "1.5.0">

    <name>Попути</name>

    <description>
        Поиск водителей и попутчиков
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/f163a359756a043e0b99415dbacb3aec.png" density="ldpi" />
        <icon src="res/android/icon/a13a15fed8b3ab6db99da375d3c7881a.png" density="mdpi" />
        <icon src="res/android/icon/525d7e4bf4d04c8bcbce958ef11bc6e3.png" density="hdpi" />
        <icon src="res/android/icon/171c83ad54e5d08c20c43cb7021fd804.png" density="xhdpi" />
        <icon src="res/android/icon/e6d0901cfc02f84453489bf2aa341809.png" density="xxhdpi" />
        <icon src="res/android/icon/7b6b0225c0242b051a3fd8c5d633f6c0.png" density="xxxhdpi" />

        <splash src="res/android/screen/6eb61507e42613ab246f377c0205c16c.png" density="port-hdpi"/>
        <splash src="res/android/screen/a528e2e3b2e4a049f6a13deaa2229875.png" density="port-ldpi"/>
        <splash src="res/android/screen/768c1bd3a19acbf429cc9abf8011aec9.png" density="port-mdpi"/>
        <splash src="res/android/screen/b42d22d755a84d874409163e65148ec4.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/921ca7e50777c6c27b306c2f28c916af.png" width="180" height="180" />
        <icon src="res/ios/icon/66659458b20bd088dac4c7308ffbf149.png" width="60" height="60" />
        <icon src="res/ios/icon/447480cf17b02a54d7a69dc80f469231.png" width="120" height="120" />
        <icon src="res/ios/icon/92097d8a9f5b7e50348aa8a8392791ca.png" width="76" height="76" />
        <icon src="res/ios/icon/af29a7480cad48413079ebd73005f234.png" width="152" height="152" />
        <icon src="res/ios/icon/007e89a4259f738a2ebcf6e7e5fc28d9.png" width="57" height="57" />
        <icon src="res/ios/icon/2ef946f2a67cdf360346581b4b76f3c4.png" width="114" height="114" />
        <icon src="res/ios/icon/f8b2231fa5c744e35c408d0de22ba345.png" width="72" height="72" />
        <icon src="res/ios/icon/9bfaafc100de6ae760736afad32df74a.png" width="144" height="144" />
        <icon src="res/ios/icon/6aeb2d335dc1721a2abe2b5f472d95ee.png" width="167" height="167" />
        <icon src="res/ios/icon/d84ca25cc72bc241cdbce9afe042de19.png" width="29" height="29" />
        <icon src="res/ios/icon/04921e64a32707bb2152f51a9f91e502.png" width="58" height="58" />
        <icon src="res/ios/icon/23ea7222d293ea9e3dee4fe32272d0c2.png" width="87" height="87" />
        <icon src="res/ios/icon/38cb92d9e814f5d7638585c32f235993.png" width="167" height="167" />

        <splash src="res/ios/screen/a37f5019379f890a360646c5a0c1071f.png" />
        <splash src="res/ios/screen/3df3d0bb7f56cc47cdf1491f87073205.png" />
        <splash src="res/ios/screen/6a8976b7db5e9ece881d0e3810d09f31.png" />
        <splash src="res/ios/screen/fa317dae5e214c840b340e4aae3586b6.png" />
        <splash src="res/ios/screen/b378272781627d4eec29e8d045f9daef.png" />
        <splash src="res/ios/screen/08f5d4ca90f5151c4cdee8b7a3b177a3.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/02110e4814844748a4bdd47c4d1c04f9.png" target="StoreLogo" />
        <icon src="res/windows/icon/d820a5334d016828b1f559292256c828.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/41c9186e952b604b2e9cb7b2a586b094.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/4fd306948add2c57fcb76d3ab30c50e5.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/d8f0f9874d481a278aaeacb59db65368.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/492ea2cca6c01a78cb66c62daf84d85f.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/86133166c0b80d0348d14136491b3b50.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/10e6947f43bfa4fa0b1615d814029d65.png" target="SplashScreen"/>
        <splash src="res/windows/screen/c0248b8cac9e9fcf0de78d9fad4f23bf.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>