<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.a-p.app"
        versionCode = "10"
        version     = "1.3.0">

    <name>Попути</name>

    <description>
        Поиск водителей и попутчиков
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/b3fe368e4956e9a4aadafe2ea1a57961.png" density="ldpi" />
        <icon src="res/android/icon/e671342ec992e2bd43a67b1c00544787.png" density="mdpi" />
        <icon src="res/android/icon/5563137bd62ea61ba66fea16cede0252.png" density="hdpi" />
        <icon src="res/android/icon/602e89cc97dc893a102c2609b8ebfe2e.png" density="xhdpi" />
        <icon src="res/android/icon/8783d37655d77dcff3853492236c59b8.png" density="xxhdpi" />
        <icon src="res/android/icon/73b1790e4971d6e5fc7154ea553ddeed.png" density="xxxhdpi" />

        <splash src="res/android/screen/6eb61507e42613ab246f377c0205c16c.png" density="port-hdpi"/>
        <splash src="res/android/screen/a528e2e3b2e4a049f6a13deaa2229875.png" density="port-ldpi"/>
        <splash src="res/android/screen/768c1bd3a19acbf429cc9abf8011aec9.png" density="port-mdpi"/>
        <splash src="res/android/screen/b42d22d755a84d874409163e65148ec4.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/18652c985164b8ecd083dbfab5fbaace.png" width="180" height="180" />
        <icon src="res/ios/icon/85b447a36afc100256ae8f391391851b.png" width="60" height="60" />
        <icon src="res/ios/icon/6d23f98c144f29cd57b0e83172d6aaba.png" width="120" height="120" />
        <icon src="res/ios/icon/fc6bccc6df831639c507afa7bf87fd20.png" width="76" height="76" />
        <icon src="res/ios/icon/b487f4b4548632507ba31cdcbf0e8a30.png" width="152" height="152" />
        <icon src="res/ios/icon/0d8e5b162795b0a8f0f752bbe50e0dac.png" width="57" height="57" />
        <icon src="res/ios/icon/2c27fc5667cbc612e57e0a27d10dbe28.png" width="114" height="114" />
        <icon src="res/ios/icon/024d7fca4eff286420667359e229d8ab.png" width="72" height="72" />
        <icon src="res/ios/icon/9b607de1521dd329830870e9b4d01ea7.png" width="144" height="144" />
        <icon src="res/ios/icon/94604c899f7e78ecc747b6e5f361acb5.png" width="167" height="167" />
        <icon src="res/ios/icon/fcc15d98ba154b91ce7f50fe4875f1ef.png" width="29" height="29" />
        <icon src="res/ios/icon/ad802be6a4741f01f27ec72868bf374a.png" width="58" height="58" />
        <icon src="res/ios/icon/b2ba09400d76dc7729596ef63d16463e.png" width="87" height="87" />
        <icon src="res/ios/icon/8dbb4727475d0132703fb63d536efd0b.png" width="167" height="167" />

        <splash src="res/ios/screen/a37f5019379f890a360646c5a0c1071f.png" />
        <splash src="res/ios/screen/3df3d0bb7f56cc47cdf1491f87073205.png" />
        <splash src="res/ios/screen/6a8976b7db5e9ece881d0e3810d09f31.png" />
        <splash src="res/ios/screen/fa317dae5e214c840b340e4aae3586b6.png" />
        <splash src="res/ios/screen/b378272781627d4eec29e8d045f9daef.png" />
        <splash src="res/ios/screen/08f5d4ca90f5151c4cdee8b7a3b177a3.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/02110e4814844748a4bdd47c4d1c04f9.png" target="StoreLogo" />
        <icon src="res/windows/icon/d820a5334d016828b1f559292256c828.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/41c9186e952b604b2e9cb7b2a586b094.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/4fd306948add2c57fcb76d3ab30c50e5.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/d8f0f9874d481a278aaeacb59db65368.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/492ea2cca6c01a78cb66c62daf84d85f.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/86133166c0b80d0348d14136491b3b50.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/10e6947f43bfa4fa0b1615d814029d65.png" target="SplashScreen"/>
        <splash src="res/windows/screen/c0248b8cac9e9fcf0de78d9fad4f23bf.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>